<!DOCTYPE html>
<!-- Inicio Del Codigo HTML presupuesto -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fox Shoes | Presupuesto</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <!-- Encabezado -->

    <header>
        
        <div class="logo">
        <img src="../images/fox-svgrepo-com.svg" alt="logo fox shoes" width="200" height="200">
        <h1>Fox Shoes</h1>
     </div>

         <div class="enlaces">
        <a href="../index.html">Indice</a>
        <a href="./productos.html" >Productos</a>
        <a href="#" class="active">Presupuesto</a>
        <a href="./contacto.html">Contacto</a>
     </div>

     <div class="eslogan">
        <h2>Top Quality Shoes</h2>
     </div>

    </header>

    <!-- Informacion Formulario -->

    <section>

        <div class="contenedor">

            <h2>Envianos tus datos, no te pierdas de nuestras promociones.</h2>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro quibusdam reprehenderit repellendus, provident quidem debitis, totam hic ab quae odit, aliquid voluptatibus quod. Officia quos saepe mollitia incidunt excepturi velit.</p>

         </div>

         <div class="contenedor">

            <!-- Formulario -->

            <h3>Rellenar todas las casillas.</h3>

           <form action="insertar.php" method="post">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" placeholder="Escriba su nombre" required><br><br>

            <label for="correo">Email</label>
            <input type="email" name="correo" id="correo" placeholder="Escriba su email" required><br><br>

            <label for="telefono">Telefono</label>
            <input type="tel" name="telefono" id="telefono" placeholder="Escriba su numero de telefono" required><br><br>

            <label for="informacion">Solicite mas informacion</label><br>
            <textarea name="informacion" id="informacion" rows="5"></textarea><br><br>

            <p>Declaro que estoy de acuerdo con la Politica de privacidad de esta empresa</p>
            <input type="checkbox" name="politica" id="politica" required><br><br>

            <input type="submit" value="Enviar">
            <input type="reset">

           </form>

        </div>

        

    </section>

    <!-- Pie de Pagina -->

    <footer>
        <div class="redessociales">
            <a href="https://www.facebook.com/foxshoes"><img src="../images/log-facebook2.svg" alt="logo facebook" width="25" height="25"></a>  
            <a href="https://www.instagram.com/fox_shoes/"><img src="../images/logo-instagram2.svg" alt="logo instagram" width="25" height="25"></a>
            <a href="https://www.youtube.com/@foxshoesofc"><img src="../images/logo-youtube.svg" alt="logo youtube" width="25" height="25"></a> 
        </div>

        <p>Todos los derechos reservados <br>
            P. Sherman, 42 Wallaby Way, Sydney <br>
            © Fox Shoes
    
            </p>
    </footer>
    
</body>
</html>

<!-- Fin del Codigo HTML presupuesto -->